.section {
  $self: &;

  width: 100%;
  max-width: 846px;
  margin: 0 auto;

  &_flex {
    display: flex;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &_column {
    flex-direction: column;
  }

  &_tab-content {
    display: flex;
    flex-direction: column;
  }

  &_uderline {
    height: 1px;
    background: #d9d9d9;
    max-width: 726px;
    margin: 40px 0;
    @media screen and (max-width: 767px) {
      margin: 30px 0;
    }
  }

  &_mb-40 {
    margin-bottom: 40px;
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }

  &_button-block {
    max-width: 726px;
    padding: 30px 36px;
    background: #ffffff;
    box-shadow: 0px 10px 40px rgba(12, 12, 12, 0.1);
    border-radius: 20px;
    margin-bottom: 40px;

    @media screen and (max-width: 767px) {
      justify-content: center;
      padding: 30px 20px;
      margin-bottom: 0;
    }
  }

  &_container {
    background: #ffffff;
    padding: 40px 60px;
    border-radius: 0px 20px 20px 20px;

    @media screen and (max-width: 767px) {
      border-radius: 0px 0 20px 20px;
      padding: 30px 20px;
    }
  }

  &_overflow-hiden {
    overflow: hidden;
  }

  &_nowrap {
    flex-direction: row;
  }

  &_to-input {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &_posr {
    position: relative;
  }
}
